@font-face {
    font-family: Ionicons;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ionicons.eot?v=2.0.0");
    src: url("fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
         url("fonts/ionicons.ttf?v=2.0.0") format("truetype"),
         url("fonts/ionicons.woff?v=2.0.0") format("woff"),
         url("fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
}


/* ==== Toolbar Icon ==== */

#outline-toolbar-icon {
    background-image: url(icons/icon.svg);
}

#outline-toolbar-icon.enabled {
    background-position: 0 -24px;
}


/* ==== Outline List ==== */

#outline {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #adb9bd;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.outline-sidebar {
    margin-bottom: 40px;
    max-height: 75%;
}

.outline-main {
    background-color: #47484b;
    bottom: 0;
    max-width: 45%;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
}

#outline-header {
    font-size: 13px;
    padding: 8px 0 9px 12px;
    position: relative;
}

.outline-button {
    background-color: transparent;
    background-origin: content-box;
    background-repeat: no-repeat;
    box-sizing: content-box;
    font-size: 12px;
    height: 13px;
    outline: none;
    padding: 4px 6px;
    position: absolute;
    top: 7px;
    width: 13px;
}

#outline-settings {
    background-image: url("icons/settings.svg");
    right: 56px;
}

#outline-move {
    background-image: url("icons/move.svg");
    right: 30px;
}

#outline-close {
    background-image: url("icons/close.svg");
    right: 4px;
}

#outline-list {
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}

#outline-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.outline-entry {
    color: #ffffff;
    padding-left: 27px;
}

.outline-entry-icon {
    padding-left: 12px;
}

.outline-entry-icon:before {
    display: inline-block;
    font-family: Ionicons;
    margin-right: 3px;
    text-align: center;
    width: 12px;
}


/* ==== Language Specific Entries ==== */


/* JavaScript */
.outline-entry-js-arg {
    color: #adb9bd;
}

.outline-entry-js-private:before {
    color: #229bf4;
    content: "\f200";
}

.outline-entry-js-public:before {
    color: #9bf422;
    content: "\f276";
}

.outline-entry-js-unnamed:before {
    color: #f47b22;
    content: "\3bb";
    font-family: sans-serif;
}


/* CoffeeScript */
.outline-entry-coffee-arg {
    color: #adb9bd;
}

.outline-entry-coffee-private:before {
    color: #229bf4;
    content: "\f200";
}

.outline-entry-coffee-public:before {
    color: #9bf422;
    content: "\f276";
}

.outline-entry-coffee-unnamed:before {
    color: #f47b22;
    content: "\3bb";
    font-family: sans-serif;
}


/* CSS */
.outline-entry-css-tag:before {
    color: #f47b22;
    content: "\f271";
}

.outline-entry-css-id:before {
    color: #9bf422;
    content: "\f219";
}

.outline-entry-css-class:before {
    color: #229bf4;
    content: "\f20b";
}

.outline-entry-css-at-rules:before {
    color: #f4229b;
    content: "\f10f";
}

.outline-entry-css-attribute:before {
    color: #f4e422;
    content: "\f2aa";
}


/* PHP */
.outline-entry-php-arg {
    color: #adb9bd;
}

.outline-entry-php-private:before {
    color: #229bf4;
    content: "\f200";
}

.outline-entry-php-protected:before {
    color: #4ab9ae;
    content: "\f219";
}

.outline-entry-php-public:before {
    color: #9bf422;
    content: "\f276";
}

.outline-entry-php-unnamed:before {
    color: #f47b22;
    content: "\3bb";
    font-family: sans-serif;
}


/* Markdown */
.outline-entry-md {
    padding-left: 12px;
}

.outline-entry-md:before {
    color: #b94700;
    display: inline;
    font-family: Ionicons;
    margin-right: 3px;
    text-shadow: none;
}

.outline-entry-md-1:before {
    content: "#";
}

.outline-entry-md-2:before {
    content: "##";
}

.outline-entry-md-3:before {
    content: "###";
}

.outline-entry-md-4:before {
    content: "####";
}

.outline-entry-md-5:before {
    content: "#####";
}

.outline-entry-md-6:before {
    content: "######";
}


/* XML */
.outline-entry-xml-namespace,
.outline-entry-xml-id,
.outline-entry-xml-class {
    color: #adb9bd;
}

.outline-entry-xml-indent {
    color: #adb9bd;
    font-family: Ionicons;
}
